<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teleoperative Vehicle</title>
  </head>
  <body>
    <h1>Teleoperative Semi-Autonomous Vehicles</h1>
    <p>This has links to the necessary components to run the remote operations of the comma body</p>

    <h2>links</h2>
      <ul>
        <li><a href="/stream">Camera Stream</a></li>
        <li><a href="172.20.10.8:5000">Joystick Control</a></li>
      </ul>
  </body>
</html>
